body {
    font-family: sans-serif;
    background-color: black;
    margin-top: 30px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 150%;
}

.bold {
    font-weight: bold;
    font-size:350%;
}

.img-medium {
    height: 300px;
    width: 400px;
}
.container{
                       max-width : 800px;
                       margin :0 auto;
                       color : Yellow;
                       padding-left :20px;
                       padding-right :20px;
}                 
.comment {
    margin-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.commenter {
    font-style: italic;
    font-size: 0.8em;
}

#comment_form {
    margin-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
                 
                 
.img-small{
    height:150px;
    width:150px;
}

    a:link  {color:white; background-color:transparent; text-decoration:none}
    a:visited {color:cyan; background-color:transparent; text-decoration:none}
    a:hover   {color:yellow; background-color:transparent; text-decoration:underline}
   a:active  {color:blue; background-color:white; text-decoration:underline}

