body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 50px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
    font-size:350%;
}

.img-medium {
    height: 300px;
    width: 500;
}
.container{
                       max-width : 800px;
                       margin :0 auto;
                       color : red;
                       padding-left :20px;
                       padding-right :20px;
                       
                 }
.img-small{
    height:150px;
    width:150px;
}